.schedule {
  margin-top: 100px;
  text-align: center;
}

input {
  padding: 10px;
  margin: 5px 0;
  width: 70%;
  height: 40px;
  border: 2px solid #ccc;
  border-radius: 15px;
  background: transparent;
  box-sizing: border-box;
  font-size: 14px;
}

.button {
  margin: 5px 0;
  padding: 0 10px;
  width: 100px;
  height: 36px;
  border-radius: 15px;
  font-size: 12pt;
  text-align: center;
  cursor: pointer;
  background: #ccc;
  line-height: 1em;
  transition: 0.3s;
  border: 2px solid #ffffff;
  box-shadow: none;
  color: #ffffff;
  background: #999999;
}

#add-datetime {
  width: 70%;
}

#copy-button {
  width: 35%;
}

#arrangement-button {
  width: 35%;
}

#select-format {
  margin: 5px 0;
  padding: 0 10px;
  width: 70%;
  height: 40px;
  border: 2px solid #ccc;
  border-radius: 15px;
  /* background: transparent; */
  box-sizing: border-box;
  font-size: 14px;
}

textarea {
  margin: 5px 0;
  width: 70%;
  height: 200px;
  border: 2px solid #ccc;
  border-radius: 15px;
  background: transparent;
  box-sizing: border-box;
}

@media screen and (min-width: 481px) {
  .schedule {
    width: 480px;
    margin: 100px auto;
  }

  input {
    width: 60%;
  }

  textarea {
    width: 60%;
  }

  #select-format {
    width: 60%;
  }

  #add-datetime {
    width: 60%;
  }

  #copy-button {
    width: 30%;
  }

  #arrangement-button {
    width: 30%;
  }
}
