body {
  font-family: sans-serif;
}

.schedule {
  /* text-align: center; */
}

textarea {
  width: 250px;
  height: 150px;
  border: 2px solid #ccc;
  border-radius: 15px;
  background: transparent;
  box-sizing: border-box;
}

.date-time {
  color: #ccc;
}

input {
  /* position: relative; */
  padding: 0 10px;
  width: 100px;
  height: 36px;
  border: 2px solid #ccc;
  border-radius: 15px;
  background: transparent;
  box-sizing: border-box;
  font-size: 14px;
  /* color: #999; */
}

input[type="date"] {
  width: 150px;
}

.button {
  padding: 0 10px;
  width: 100px;
  height: 36px;
  border-radius: 15px;
  font-size: 12pt;
  text-align: center;
  cursor: pointer;
  background: #ccc;
  color: #999999;
  line-height: 1em;
  transition: 0.3s;
  border: 2px solid #ffffff;
}

.button {
  box-shadow: none;
  color: #ffffff;
  background: #999999;
}

#select-format {
  padding: 0 10px;
  width: 200px;
  height: 36px;
  border: 2px solid #ccc;
  border-radius: 15px;
  /* background: transparent; */
  box-sizing: border-box;
  font-size: 14px;
}

@media screen and (min-width: 560px) {
  .schedule {
    max-width: 100%;
  }
  input {
    width: 150px;
  }
}
